body {
    font-family: "Roboto", sans-serif;
}
html {
    font-size: 16px;
}
/*============== (~ nav design ~) =================*/
nav {
    z-index: 3;
    .navbar-brand {
        img {
            width: 120px;
        }
    }
    ul.navbar-nav {
        padding: 0 !important;
        li.nav-item {
            position: relative;
            padding: 20px 10px;
            a {
                color: rgb(0, 0, 0);
                font-weight: 500;
                text-transform: uppercase;
                transition: 0.4s;
                &:hover {
                    color: rgb(116, 116, 116) !important;
                }
            }
            &:hover {
                #mega_menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
            #mega_menu {
                position: absolute;
                top: 100%;
                left: -513px;
                background: #242424;
                width: 1200px;
                padding: 20px 40px;
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s;
                transform: translateY(5px);
                .col-lg-3 {
                    border-left: 1px solid rgba(63, 63, 63, 0.582);
                    &:first-child {
                        border-left: none;
                    }
                }
                .item {
                    .item_tiele {
                        h4 {
                            color: #fafafa;
                            font-size: 0.8rem;
                            margin: 15px 0 10px 0;
                            margin-left: 20px;
                        }
                        ul {
                            padding: 0;
                            margin: 0;
                            li {
                                list-style: none;
                                position: relative;
                                &:hover {
                                    &::before {
                                        opacity: 1;
                                        visibility: visible;
                                        padding-left: 10px;
                                    }
                                    a {
                                        color: #fafafa;
                                        padding-left: 5px;
                                    }
                                }
                                &::before {
                                    content: "\f0a4";
                                    font-family: "font awesome 5 free";
                                    font-weight: 600;
                                    color: #fafafa;
                                    font-size: 0.7rem;
                                    margin-right: 7px;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: 0.4s;
                                }
                                a {
                                    text-decoration: none;
                                    color: #999;
                                    font-size: 0.8rem;
                                    transition: 0.4s;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
        .blog {
            width: 370px !important;
            left: -130px !important;
            .row {
                width: 100%;
                .col-lg-3 {
                    width: 100%;
                    ul {
                        display: block;
                        li {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .right_inner_div {
        label {
            display: inline-block;
            border-left: 1px solid rgba(49, 48, 48, 0.144);
            padding: 0 10px;
            &:first-child {
                border-left: none;
            }
            transition: 0.4s;
            &:hover {
                color: rgb(124, 124, 124);
            }
        }
        #search-icon {
            i {
                display: inline-block;
            }
        }
        input[type="checkbox"]:checked {
            + .hidden_div {
                display: block;
            }
        }
        .hidden_div {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(124, 122, 122);
            text-align: center;

            #kichuekta {
                font-size: 3rem;
                margin: 30px;
                transition: 0.4s;
                text-align: right;
                label {
                    i {
                        display: block;
                    }
                    &:hover {
                        i {
                            color: red;
                            cursor: pointer;
                        }
                    }
                }
            }

            .middel {
                width: 1000px;
                margin: auto;
                display: inline-block;
                transform: translateY(278px);
                input.form-control {
                    padding: 20px;
                    box-shadow: none;
                    border: none;
                    &:focus {
                        &::placeholder {
                            color: rgb(0, 195, 255);
                            font-weight: 400;
                        }
                    }
                }
                .input-group-text {
                    margin: 0 !important;
                    border: none !important;
                    outline: none !important;
                    color: white;
                    background: #000;
                    padding: 0 80px !important;
                    &:hover {
                        background: rgb(0, 195, 255);
                        color: white;
                    }
                }
            }
        }
    }
}

#carouselExampleCaptions {
    .carousel-indicators {
        button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
    .carousel-item {
        height: 90vh;
        img {
            width: 100%;
            height: 100%;
        }
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.507);
            z-index: 1;
        }

        .carousel-caption {
            bottom: 17.25rem;
            z-index: 2;
            .caption_inner {
                p {
                    font-weight: 300;
                    font-size: 1.4rem;
                    text-transform: capitalize;
                }
                h1 {
                    font-weight: 800;
                    font-size: 4.6rem;
                    line-height: 75px;
                    letter-spacing: 2px;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    padding: 10px 50px;
                    background: white;
                    border-radius: 50px;
                    border: 2px solid rgba(255, 255, 255, 0);
                    transition: 0.4s;
                    font-weight: 600;
                    margin-top: 20px;
                    &:hover {
                        background: rgba(0, 0, 0, 0.212);
                        border: 2px solid rgb(255, 255, 255);
                        color: white;
                    }
                }
            }
        }
    }
}
/*============== (~ about_section ~) =================*/
img {
    max-width: 100%;
}
.about_section {
    padding: 100px 0;
    background: #f7f7f7;
    .title {
        text-align: center;
        span {
            text-transform: capitalize;
            font-size: 1rem;
            display: block;
            color: #999;
            margin: 10px;
        }
        p {
            font-size: 1.5rem;
            padding: 0 14rem;
            color: #555;
            b {
                font-weight: 500;
            }
        }
    }
    main {
        padding: 50px 0 0 0;
        .item_inner {
            margin: 20px 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
            overflow: hidden;
            .image_inner_box {
                overflow: hidden;
                width: 100%;
                cursor: pointer;
                height: 260px;
                position: relative;
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.493);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s ease-in-out;
                }
                &:hover {
                    img {
                        transform: scale(1.3);
                    }
                    &::after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                }
            }
            .item_contant {
                text-align: center;
                padding: 30px 10px;
                h6 {
                    font-size: 1.4rem;
                    color: #444;
                }
                p {
                    font-family: "roboto";
                    color: 1.2rem;
                    font-weight: 400;
                    color: #555;
                }
                a {
                    display: inline-block;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #444;
                    border: 1px solid #000;
                    padding: 8px 35px;
                    border-radius: 50px;
                    font-weight: 500;
                    font-size: 0.8rem;
                    margin-top: 15px;
                    &:hover {
                        background: #000;
                        color: white;
                    }
                    i {
                        display: inline-block;
                        transition: 0.4s;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
/*============== (~ services_section     ~) =================*/
.services_section {
    padding: 100px 0;
    background: #000;
    .title {
        text-align: center;
        span {
            font-size: 1.3rem;
            text-transform: capitalize;
            color: #888;
        }
        h2 {
            margin-top: 5px;
            color: rgb(243, 236, 236);
            font-size: 1.8rem;
        }
    }
    main {
        margin: 50px 0 0 0;
        .service_item {
            text-align: center;
            margin: 15px;
            padding: 55px 15px;
            background: #fff;
            position: relative;
            z-index: 1;
            cursor: pointer;
            &:hover {
                &::before {
                    height: 100%;
                    background: #333333;
                }
                .item_content {
                    h6 {
                        color: #fff;
                    }
                    p {
                        color: rgb(206, 206, 206);
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1%;
                background: #ff214f;
                transition: all 0.3s;
                z-index: -1;
            }
            .icon_inner {
                svg {
                    color: #ff214f;
                    font-size: 3.4rem;
                }
                margin-bottom: 30px;
            }
            .item_content {
                h6 {
                    color: #555;
                    margin: 20px 0 20px 0;
                    font-size: 1.4rem;
                    transition: 0.4s;
                }
                p {
                    font-size: 0.9rem;
                    line-height: 28px;
                    color: #888;
                    transition: 0.4s;
                }
            }
        }
    }
}
/*============== (~ all_product ~) =================*/
.all_product {
    padding: 100px 0;
    .our_nav {
        ul {
            padding: 0;
            margin: 0;
            text-align: center;
            display: block;
            li {
                display: inline-block;
                &:first-child {
                    border-bottom: 1px solid #000;
                }
                a {
                    text-transform: capitalize;
                    text-decoration: none;
                    display: block;
                    padding: 10px 20px;
                    font-weight: 500;
                    color: #666;
                    position: relative;
                    &:hover {
                        &::before {
                            width: 100%;
                            left: 0;
                        }
                        color: rgb(0, 0, 0);
                    }
                    &::before {
                        content: "";
                        width: 0%;
                        height: 1%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background: #000;
                        transition: all 0.6s;
                        z-index: -1;
                    }
                }
            }
        }
    }
    main {
        .wrap {
            width: 1700px;
            margin: auto;
        }
        margin: 50px 0 0 0;
        .item_inner {
            width: 100%;
            height: 350px;
            overflow: hidden;
            position: relative;
            margin: 13px 0 !important;
            &:hover {
                border-radius: 3px;
                .hover_content {
                    opacity: 1;
                    visibility: visible;
                    cursor: pointer;
                    .hr {
                        margin-top: 150px;
                    }
                }
                img {
                    transform: scale(1.3);
                    filter: blur(1px);
                }
            }
            img {
                width: 100%;
                height: 100%;
                transition: 0.4s;
            }
            .hover_content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                background: rgba(0, 0, 0, 0.781);
                width: 100%;
                height: 100%;
                transition: all 0.4s;
                opacity: 0;
                visibility: hidden;
                .hr {
                    width: 80px;
                    height: 1px;
                    background: #ff214f;
                    margin: auto;
                    margin-bottom: 20px;
                    margin-top: 200px;
                    transition: margin 0.4s;
                }
                h5 {
                    color: #fff;
                    text-transform: uppercase;
                }
                span {
                    color: #999;
                    display: block;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
/*============== (~ curcle_progress ~) =================*/
.curcle_progress {
    background: url(./img/Screenshot_1.png);
    padding: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*============== (~ fullwidth_hover ~) =================*/
.fullwidth_hover {
    padding: 100px 0;
    .item_inner {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.651);
            transition: 0.4s;
            z-index: 1;
        }

        &:hover {
            img {
                transform: scale(1.3);
                filter: blur(1px);
            }
            .hover_item {
                span {
                    margin-top: 300px;
                }
                a {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            transition: 0.4s;
        }
        .hover_item {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto;
            margin: 0 0 0 70px;
            z-index: 2;
            span {
                display: block;
                text-transform: capitalize;
                color: rgba(224, 219, 219, 0.705);
                font-size: 0.9rem;
                margin-top: 360px;
                transition: all 0.4s;
            }
            .hr {
                width: 260px;
                height: 1px;
                background: #ff214f;
                margin-top: 5px;
            }
            h4 {
                color: white;
                text-transform: capitalize;
                margin: 10px 0;
            }
            a {
                display: inline-block;
                text-transform: uppercase;
                text-decoration: none;
                color: rgb(0, 0, 0);
                background: rgb(255, 255, 255);
                font-size: 0.8rem;
                font-weight: 400;
                padding: 5px 10px;
                transition: all 0.3s;
                border: 1px solid rgba(0, 0, 0, 0);
                border-radius: 2px;
                visibility: hidden;
                opacity: 0;
                margin-top: 10px;
                &:hover {
                    border: 1px solid rgb(255, 255, 255);
                    background: transparent;
                    color: white;
                }
            }
        }
    }
}
/*============== (~ team_sectin ~) =================*/
.team_sectin {
    padding: 0 0 100px 0;
    .title {
        text-align: center;
        span {
            color: #999;
        }
        h1 {
            font-size: 2rem;
            line-height: 40px;
            padding: 0 400px;
            margin-top: 10px;
        }
        margin-bottom: 80px;
    }
    .tem_item {
        border: 1px solid #ddd;

        .image_inner {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 360px;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.658);
                transition: 0.3s;
            }
            &:hover {
                &::before {
                    transform: scaleY(3);
                }
                .team_hover {
                    opacity: 1;
                    visibility: visible;
                    p {
                        margin-top: 180px;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                transition: 0.4s;
            }
            .team_hover {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0 20px;
                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;
                p {
                    color: #ddd;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-top: 160px;
                    transition: 0.4s;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    border-top: 1px solid #ff214f;
                    li {
                        display: inline-block;
                        margin-left: -5px;
                        padding: 20px 10px;
                        a {
                            display: block;
                            color: #fff;
                            transition: 0.4s;
                            &:hover {
                                color: #ff214f;
                            }
                        }
                    }
                }
            }
        }
        .image_content {
            text-align: center;
            padding: 20px 10px;
            a {
                text-decoration: none;
                color: #555;
                transition: 0.4s;
                &:hover {
                    color: #ff214f;
                }
            }
            span {
                color: #999;
            }
        }
    }
}
/*============== (~ about_section_two ~) =================*/
.about_section_two {
    padding: 100px 0;
    .left_inner {
        height: 600px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .right_inner {
        background: #000;
        height: 100%;
        .right_content {
            padding: 80px;
            span {
                color: rgb(192, 190, 190);
                font-size: 1.3rem;
                margin-top: 30px;
                display: block;
            }
            h1 {
                color: white;
                margin: 10px 0;
            }
            p {
                color: #777;
                font-size: 1rem;
                line-height: 30px;
            }
            a {
                display: inline-block;
                text-transform: uppercase;
                text-decoration: none;
                color: black;
                border: 2px solid rgb(255, 255, 255);
                padding: 5px 25px;
                border-radius: 50px;
                margin-top: 40px;
                background: #fff;
                font-weight: 400;
                transition: 0.4s;
                font-size: 0.9rem;
                &:hover {
                    background: #000;
                    color: white;
                }
            }
        }
    }
}
body {
    overflow-x: hidden;
}
/*============== (~ blog_post_section ~) =================*/
.blog_post_section {
    padding: 0 0 0 100px;
    .title {
        text-align: center;
        margin-bottom: 100px;
        span {
            display: block;
        }
        h2 {
            font-size: 2.5rem;
            line-height: 50px;
            color: #333;
        }
    }
    .post_inenr {
        border: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        .image_iinner {
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.315);
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                pointer-events: none;
            }
            &:hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
                img {
                    transform: scale(1.3);
                }
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                transition: 0.4s;
            }
        }
        .post_title {
            padding: 10px;
            .date_time {
                span {
                    display: inline-block;
                    color: #555;
                    a {
                        text-decoration: none;
                        display: block;
                        color: #555;
                        transition: 0.4s;
                        &:hover {
                            color: #ff214f;
                        }
                    }
                }
            }
            h3 {
                a {
                    color: #444;
                    text-decoration: none;
                    font-size: 1.2rem;
                    transition: 0.4s;
                    display: block;
                }
                margin: 0;
                line-height: 27px;
                margin-top: 10px;
                transition: 0.4s;
                &:hover a {
                    color: #ff214f;
                }
                margin-bottom: 0;
            }
        }
        .post_content {
            padding: 20px 10px;
            border-top: 1px solid #ddd;
            a {
                text-decoration: none;
                display: inline-block;
                text-transform: capitalize;
                color: #222;
                background: #fff;
                transition: 0.2s;
                i {
                    display: inline-block;
                    transform: translateY(1px);
                    font-size: 1rem;
                    transition: 0.4s;
                }
                &:hover {
                    i {
                        margin-left: 5px;
                    }
                    color: #ff214f;
                }
            }
        }
    }
}

/*============== (~ footer_top ~) =================*/
.footer_top {
    padding: 50px 0;
    background: #ff214f;
    margin-top: 100px;
    p {
        text-align: right;
        color: #fff;
        font-size: 1.2rem;
        margin-right: 100px;
    }
    a {
        text-decoration: none;
        display: inline-block;
        color: rgb(0, 0, 0);
        padding: 6px 30px;
        background: #fff;
        border-radius: 50px;
        font-size: 0.9rem;
        transition: 0.4s;
        border: 2px solid #fff;
        margin-left: 150px;
        &:hover {
            background: transparent;
            color: white;
        }
        i {
            display: inline-block;
            padding-left: 10px;
        }
    }
}
footer {
    background: #222;
    padding: 80px 0 0 0;
    .item {
        color: #555;
        h2 {
            padding: 0 40px;
        }
        img {
            width: 120px;
            cursor: pointer;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin-left: -5px;
                a {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #555;
                    margin: 10px;
                    font-size: 0.9rem;
                    transition: 0.4s;
                    &:hover {
                        color: #ff214f;
                    }
                }
            }
        }
    }
    .copyright_text {
        border-top: 1px solid rgba(85, 85, 85, 0.397);
        margin-top: 40px;
        p {
            color: #555;
            padding: 30px 0;
            margin: 0;
            a {
                text-transform: uppercase;
                transition: 0.4s;
                display: inline-block;
                color: #555;
                text-decoration: none;
                &:hover {
                    color: #ff214f;
                }
            }
        }
    }
}
